django==5.1.6
djangorestframework==3.15.2
psycopg2==2.9.10 ; platform_machine != "aarch64"
psycopg2-binary==2.9.10 ; platform_machine == "aarch64"
whitenoise==6.9.0
web3==7.8.0
ipython==8.32.0
py-solc-x==2.0.3
django-redis==5.4.0
redis==5.2.1
cachetools==5.5.2

